/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/

@import 'compass/reset';

@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);



// Variables ////////////////////////////////////////


//colours
$royalblue: #0f4a8b;
$pantone: #3d6f84;
$gold :#FFD700;

//Measurements
$pantwidth: 320px;
$legheight: 600px;
$legwidth: 140px;



html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.inner-wrapper {
	max-width: 960px;
	margin: 200px auto;
}

h2, h3 {
	font-family: 'Old Standard TT', serif;
	color: $pantone;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
}





.pants {
	max-width: $pantwidth;
	margin: auto;
	position: relative;
	> .waist {
		min-height: 180px;
		position: relative;
		> .waist--buckle {
			width: 2%;
			display: inline-block;
			background: $pantone;
			height: 40px;
			margin: 0 10.9%;
			position: relative;
			z-index: 20;
		}
		> .belt--buckle {
			height: 60px;
			width: 60px;
			position: absolute;
			margin: auto;
			left: 0;
			right: 0;
			top: -10px;
			background: image-url('pn-logo.png') no-repeat center;
			background-size: 65%;
			z-index: 20;
			border-radius: 50%;
			background-color: $gold;
		}
		> .waist--belt {
			width: 97%;
		    height: 30px;
		    position: absolute;
		    background: #fff;
		    top: 5px;
		    z-index: 10;
		    margin: auto;
		    left: 0;
		    right: 0;
		}
	}
	> .legs--pocket {
		width: 80px;
		min-height: 40px;
		padding: 10px;
		position: absolute;
		z-index: 20;
		> .stitching {
			border: 1px dashed #fff;
			display: block;
			min-height: 10px;
		}
	}
	> .legs--pocket-left {
		left: 5px;
		top: 40px;
		border: 2px solid $pantone;
		border-bottom-right-radius: 50%;
	}
	> .legs--pocket-right {
		right: 5px;
		top: 40px;
		border: 2px solid $pantone;
		border-bottom-left-radius: 50%;
	}
	.leg {
		position: absolute;
		top: 40px;
		background: $royalblue;
		min-height: $legheight;
		width: $legwidth;
	}
	.legs--right {
			right: 0;
		}
}


.pants--blue {background: $royalblue;}