/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);
/* line 5, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 29, ../sass/screen.scss */
html {
  box-sizing: border-box;
}

/* line 32, ../sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 36, ../sass/screen.scss */
.inner-wrapper {
  max-width: 960px;
  margin: 200px auto;
}

/* line 41, ../sass/screen.scss */
h2, h3 {
  font-family: 'Old Standard TT', serif;
  color: #3d6f84;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

/* line 53, ../sass/screen.scss */
.pants {
  max-width: 320px;
  margin: auto;
  position: relative;
}
/* line 57, ../sass/screen.scss */
.pants > .waist {
  min-height: 180px;
  position: relative;
}
/* line 60, ../sass/screen.scss */
.pants > .waist > .waist--buckle {
  width: 2%;
  display: inline-block;
  background: #3d6f84;
  height: 40px;
  margin: 0 10.9%;
  position: relative;
  z-index: 20;
}
/* line 69, ../sass/screen.scss */
.pants > .waist > .belt--buckle {
  height: 60px;
  width: 60px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -10px;
  background: url('/users/joshtyler/project/img/pn-logo.png?1449925319') no-repeat center;
  background-size: 65%;
  z-index: 20;
  border-radius: 50%;
  background-color: #FFD700;
}
/* line 83, ../sass/screen.scss */
.pants > .waist > .waist--belt {
  width: 97%;
  height: 30px;
  position: absolute;
  background: #fff;
  top: 5px;
  z-index: 10;
  margin: auto;
  left: 0;
  right: 0;
}
/* line 95, ../sass/screen.scss */
.pants > .legs--pocket {
  width: 80px;
  min-height: 40px;
  padding: 10px;
  position: absolute;
  z-index: 20;
}
/* line 101, ../sass/screen.scss */
.pants > .legs--pocket > .stitching {
  border: 1px dashed #fff;
  display: block;
  min-height: 10px;
}
/* line 107, ../sass/screen.scss */
.pants > .legs--pocket-left {
  left: 5px;
  top: 40px;
  border: 2px solid #3d6f84;
  border-bottom-right-radius: 50%;
}
/* line 113, ../sass/screen.scss */
.pants > .legs--pocket-right {
  right: 5px;
  top: 40px;
  border: 2px solid #3d6f84;
  border-bottom-left-radius: 50%;
}
/* line 119, ../sass/screen.scss */
.pants .leg {
  position: absolute;
  top: 40px;
  background: #0f4a8b;
  min-height: 600px;
  width: 140px;
}
/* line 126, ../sass/screen.scss */
.pants .legs--right {
  right: 0;
}

/* line 132, ../sass/screen.scss */
.pants--blue {
  background: #0f4a8b;
}
